<connectionStrings>
  <add name="Galeria.Local" connectionString="Data Source=WMXAP250360-0B6;Initial Catalog=Galeria;User ID=sa;Password=Hello/123"/>
  <add name="Galeria.Remote" connectionString="Server=9b4dd270-e070-44aa-af0f-a38501077938.sqlserver.sequelizer.com;Database=db9b4dd270e07044aaaf0fa38501077938;User ID=hfahhoykldvggmjp;Password=Rg3sepGGWzN4UZMqExjYMy2MLcCwpzcsGGhoH3xdNBC22eMJDKRYuE7ropPcTkrv;"/>
</connectionStrings>
