<connectionStrings>
  <add name="Galeria.Local" connectionString="Data Source=WMXAP250360-0B6;Initial Catalog=Galeria;User ID=sa;Password=Hello/123"/>
  <add name="Galeria.Remote" connectionString="Server=9a761585-743d-437a-94cf-a20800fd7f22.sqlserver.sequelizer.com;Database=db9a761585743d437a94cfa20800fd7f22;User ID=zrlwmsaogvvbjrhu;Password=WyVaKYUcRDtQaUxqAS8zrVse264ttQGPX5surFcPLKfjmwttAqVuJz2afRhN5zQb;"/>
</connectionStrings>
